<az-navbar
  primary-nav-items="vm.primaryNavItems"
  secondary-nav-items-hash="vm.secondaryNavItemsHash"
  levels="2"
  bootstrap="true"
  fixed="true"
></az-navbar>

<br /><br /><br /><br /><br /><br />
<div>
  primary: <input ng-model="vm.activeNavItems.primary">
</div>

<div>
  secondary: <input ng-model="vm.activeNavItems.secondary">
</div>

<p>test</p>
<p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p><p>test</p>
